<div class="container">
  <app-profile [user]="user"></app-profile>
  <h2 class="title">Upload stats</h2>
  <ul class="stat__list">
    <app-statistics
      *ngFor="let s of statistics"
      [statistic]="s"
    ></app-statistics>
  </ul>
  <ul class="friend__list">
    <app-friend *ngFor="let f of friends" [friend]="f"></app-friend>
  </ul>
  <table class="transaction__history">
    <thead style="margin-bottom: 20px">
      <tr class="tr">
        <th>Type</th>
        <th>Amount</th>
        <th>Currency</th>
      </tr>
    </thead>
    <tbody style="display: block">
      <tr style="display: block" *ngFor="let t of transactions" [id]="t.id">
        <app-transaction class="tr" [transaction]="t"></app-transaction>
      </tr>
    </tbody>
  </table>
</div>
